policy_module(luk, 1.100.1)

########################################
#
# Declarations
#

type luk_t;
type luk_exec_t;
init_daemon_domain(luk_t, luk_exec_t)

permissive luk_t;

type luk_initrc_exec_t;
init_script_file(luk_initrc_exec_t)

type luk_conf_t;
files_type(luk_conf_t)

type luk_var_lib_t;
files_type(luk_var_lib_t)

type luk_var_run_t;
files_type(luk_var_run_t)

type luk_port_t;
corenet_port(luk_port_t)

########################################
#
# luk local policy
#
allow luk_t self:process { fork };

allow luk_t self:fifo_file rw_fifo_file_perms;
allow luk_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(luk_t, luk_conf_t, luk_conf_t)
manage_files_pattern(luk_t, luk_conf_t, luk_conf_t)

manage_dirs_pattern(luk_t, luk_var_lib_t, luk_var_lib_t)
manage_files_pattern(luk_t, luk_var_lib_t, luk_var_lib_t)
files_var_lib_filetrans(luk_t, luk_var_lib_t, { dir file })

manage_dirs_pattern(luk_t, luk_var_run_t, luk_var_run_t)
manage_files_pattern(luk_t, luk_var_run_t, luk_var_run_t)

sysnet_dns_name_resolve(luk_t)
corenet_all_recvfrom_unlabeled(luk_t)

allow luk_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(luk_t)
corenet_tcp_sendrecv_generic_node(luk_t)
corenet_tcp_sendrecv_all_ports(luk_t)
corenet_tcp_bind_generic_node(luk_t)

gen_require(`
    type luk_port_t;
')
allow luk_t luk_port_t:tcp_socket name_bind;

gen_require(`
    type luk_port_t;
')
allow luk_t luk_port_t:tcp_socket name_connect;

domain_use_interactive_fds(luk_t)

files_read_etc_files(luk_t)

miscfiles_read_localization(luk_t)

sysnet_dns_name_resolve(luk_t)

allow luk_t luk_exec_t:file execute_no_trans;
allow luk_t self:process setsched;
corecmd_exec_ls(luk_t)
corenet_tcp_connect_http_port(luk_t)
dev_read_urand(luk_t)
fs_getattr_xattr_fs(luk_t)
kernel_read_system_state(luk_t)
